.progress-counter{
    color: var(--ion-color-medium-tint);
    font-size: 14px;
}
.progress-container{
    width: 100%;
    height: 15px;
    background-color: #00000008;
    border-radius: 20px;
    position: relative;

    .progress-slider{
        position: absolute;
        background-color: var(--ion-color-primary);
        height: 100%;
        border-radius: 20px;
        max-width: 100%;
    }
    margin-bottom: 30px;
    margin-top: 10px;
}

ion-item {
    border-radius: 15px;
    --background-hover: var(--ion-color-primary);
    --background-hover-opacity: 0.15;
}

ion-item:active {
  border-radius: 15px;
  --background-hover: var(--ion-color-primary);
  --background-hover-opacity: 0.15;
}
ion-item:hover {
  border-radius: 15px;
  --background-hover: var(--ion-color-primary);
  --background-hover-opacity: 0.15;
}

ion-button.nextSection {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  max-width: 90vw;
}

p.subtitle {
  color: var(--ion-color-medium);
}

textarea {
  padding: 10px;
  background: white;
  border-radius: 10px;
  border: solid 1px #00000030;
  max-width: 100%;
  min-width: 100%;
  max-height: 350px;
  min-height: 100px;
  outline: none !important;
}

ion-input {
  padding: 10px;
  background: white;
  border-radius: 10px;
  border: solid 1px #00000030;
  outline: none !important;
}

select {
  background: white;
  border-radius: 10px;
  border: solid 1px #00000030;
  height: 40px;
  user-select: none;
  cursor: pointer;
  width: 400px;
  max-width: 90vw;
  outline: none !important;
}

div.slidecontainer {
  width: 100%;
  margin-bottom: 50px;
}

p.scale {
  position: absolute;
  margin-top: 10px;
  color: var(--ion-color-medium);
  font-size: 13px;

  &.left {
    left: 7px;
  }
  &.right {
    right: 7px;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 14px;
  background: #00000010;
  border-radius: 20px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--ion-color-primary);
  border-radius: 20px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--ion-color-primary);
  border-radius: 20px;
  cursor: pointer;
}

.opacityAnimation {
    animation-name: opacityAnimation;
    animation-duration: 1s;
}

@keyframes opacityAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.calendar-entries-hour {
  text-align: right;
  font-size: 13px;
  color: var(--ion-color-medium);

  span {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.calendar-entries {
  border-bottom: solid 1px var(--ion-color-light-shade);
  padding: 10px;

  .empty{
    color: var(--ion-color-medium);
  }
}