.content {
    position: absolute;
    left: 20px;
    width: 100%;
}
ion-input {
    padding: 0px 10px !important;
    background: white;
    border-radius: 10px;
    border: solid 1px #00000030;
    outline: none !important;
    width: calc(100% - 40px);
  }

.title{
    font-weight: 600;
    margin-bottom: 8px;
}
