//cta
.btn-container {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: 75px;
}
.cta-btn {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  min-width: 40%;
  padding: 15px 25px;
  border: solid 2px var(--ion-color-primary);
  background-color: var(--ion-color-primary);
  color: white !important;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: pulse-green 1.5s infinite;
  cursor: pointer;
  outline: none !important;

  @media screen and (max-width: 930px){
    min-width: 100%;
  }
}
.cta-btn:hover {
  animation: invert-colors 0.8s forwards;
  animation-fill-mode: forwards; 
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0.7);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(var(--ion-color-primary-rgb), 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(var(--ion-color-primary-rgb), 0);
  }
}

@keyframes invert-colors {
  0% {
    border: solid 2px var(--ion-color-primary);
    background-color: var(--ion-color-primary);
    color: white;
  }

  100% {
    background-color: white;
    border: solid 2px var(--ion-color-primary);
    color: var(--ion-color-primary);
  }
}

// Colors
$default: #f8f8f8;
$primary: #409eff;
$sucess: #67c23a;

// Some Reset
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 450px;
  height: 376px;
}

// Change component color
@mixin states($color: $default) {
  border-color: #e9e7e7;
  color: rgba(var(--ion-color-dark-rgb), 0.9);
  background: $color;

  &:hover {
    color: rgba(var(--ion-color-dark-rgb), 0.6);
  }
  &:active {
    border-color: #dedcdc;
  }
}

// Collapse / Expand Component
details {
  @include states($default);
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 4px;
  min-height: 48px;
  max-height: 60px;
  transform-origin: top center;
  transform: rotate(0.1deg);
  transition: all 0.3s;

  ::-webkit-details-marker {
    display: none;
  }

  + details {
    margin-top: 10px;
  }

  p {
    color: var(--ion-color-dark-rgb);
    line-height: 1.7;
    margin: 10px 0 0;
    padding: 0 20px 15px;
  }

  // Primary Style
  &.primary {
    @include states($primary);
  }

  // Success Style
  &.success {
    @include states($sucess);
  }

  // Square Style
  &.square {
    border-radius: 0;
  }

  &[open] {
    transition: all 0.6s;
    min-height: 100px;
    max-height: 1000px;
  }
}

summary {
  outline: none;
  font-size: 16px;
  padding: 13px;

  &:selection {
    background: transparent;
  }

  .close {
    display: none;

    [open] & {
      display: inline;
    }
  }

  .open {
    display: inline;

    [open] & {
      display: none;
    }
  }

  [open] & {
    display: inline;
  }

  &:after {
    margin-top: -4px;
    content: "+";
    float: left;
    margin-right: 11px;
    text-align: center;
    font-size: 21px;
    color: var(--ion-color-primary);

    [open] & {
      padding: 0 0 12px 0;
      margin-right: 17px;
      content: "-";
    }
  }
}
