<ion-content [fullscreen]="true">
  <div class="page-wrapper">
  <div id="header">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-xs="12"><h1 style="color: white;
        margin-left: 20px;
        margin-top: 16vh;
        font-size: 30px;
        max-width: calc(100vw - 40px);"><span style="font-size: 15px;">SURVEY</span><br>Influence of COVID-19 on remote work</h1></ion-col>
    </ion-row>
  </div>


  <ion-grid style="padding-bottom: 250px;">
    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3" style="margin-top: 30px;">
        <p>Welcome!<br>We’d really like to find out how you feel about working remotely and structuring your daily work day during the current COVID-19 situation. Your opinion is important to us as we analyse the effects of home office on team spirit and productivity in everyday work. This survey is anonymous and is being conducted for a student project at CODE University of Applied Sciences in Berlin. The evaluation of the data is only for a scientific purpose. We want to thank you for investing your time (approximately 5-10 minutes) in our research. In case of further questions please contact us under igor.lapinski@code.berlin.
        <div class="btn-container">
          <button class="cta-btn" routerLink="/questionnaire">Start survey</button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="footer">
    <span>© 2020 Igor Lapinski. Alle Rechte vorbehalten.
      <br><a href="/#/datenschutz/" target="_blank">Datenschutz</a> • <a href="/#/datenschutz/" target="_blank">Impressum</a></span>
  </div>
</div>
</ion-content>
